.button {
  font-weight: 600;
  background: var(--button-color);
  border-radius: 5px;
  padding: 20px 25px;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-out;
}

  .button:hover {
    background: var(--button-color-hover);
  }
