.aboutPage {
    .aboutUsSection {
        background-color: #F0FCFE;
        padding-top: 100px;
        padding-bottom: 100px;

        .grid {
            img {
                width: 100%;
            }
        }
    }

    .statsSection {
        display: grid;

        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 36px;
            font-weight: bold;
            color: #1B67B1;
            margin: 0 0;
            text-align: center;
        }

        p {
            margin-top: 0px;
            text-align: center;
        }
    }

    .valuesSection {
        display: grid;
        margin-top: 50px;

        .value {
            h2 {
                font-family: 'Open Sans', sans-serif;
                font-size: 24px;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 0;
            }
    
            p {
                margin-top: 0;
            }
        }

        .right {
            img {
                width: 100%;
            }
        }
    }

    .globalSection {
        background-color: #F0FCFE;
        padding: 100px 0;
        h1 {
            text-align: center;
        }

        .grid {
            img {
                width: 100%;
                max-width: 400px;
            }

            .button {
                align-self: flex-start;
            }
        }
    }

    .cultureSection {
        padding-top: 100px;
        align-content: center;
        text-align: center;

        .cultureTable {
            display: inline-block;
            width: 100%;
            margin: auto;
            align-items: center;
        }

        .col {
            align-content: center;
            text-align: center;
            display: inline-block;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (min-width: 1100px) {
    .aboutPage {
        .aboutUsSection {
            .grid {
                display: grid;
                grid-template-columns: 3fr 4fr;
                grid-column-gap: 40px;

                .left {
                    position: relative;
                    width: 300px;
                }

                .right {
                    position: relative;
                    padding: 0px 50px;
                }

                h1 {
                    font-size: 48px;
                    margin-top: 0px;
                }
            }

            .statsSection {
                grid-template-columns: 2fr 2fr 2fr 2fr;
                grid-column-gap: 30px;
                margin-top: 100px;
            }
        }

        .valuesSection {
            display: grid;
            grid-template-columns: 4fr 3fr;
    
            .value {
                display: grid;
                grid-template-columns: 2fr 6fr;
                margin-bottom: 2rem;
                margin-top: 10px;
            }
    
            .right {    
                margin-left: 4rem;
                
                img {
                    width: 100%;
                }
            }
        }

        .globalSection {
            .grid {
                display: grid;
                grid-template-columns: 3fr 4fr;
                grid-column-gap: 40px;
            }
        }

        .cultureSection {
            .col {
                width: 40%;
                margin-left: 5%;
                margin-right: 5%;
                height: 440px;
                vertical-align: top;

                p {
                    margin-left: 10%;
                    margin-right: 10%;
                }
                .lifeInNibPics {
                   text-align: center;
                }
            }
        }
    }
}


@media (max-width: 1100px) {
    .aboutPage {
        .aboutUsSection {
            .statsSection {
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
                margin-top: 50px;
            }
        }

        .valuesSection {  
            h1 {
                margin-bottom: 50px;
            }  

            .value {
                text-align: center; 
                margin-bottom: 2rem;
                margin-top: 10px;
            }

            .right {
                padding: 2rem;
            }
        }

        .cultureSection {
            .col {
                margin: 0 5%;

                p {
                    margin-bottom: 30px;
                }
            }
        }
    }
}