.homePage {
    .hero h1 {
        font-size: 64px;
        line-height: 113.18%;
        margin: 80px 0;
    }
    
    .wave {
        position: relative;
        top: 10px;
        z-index: -1
    }
    
    .inspired {
        background-color: #F0FCFE;
    }
    
        .inspired .container {
            padding: 100px 0 100px 0;
        }
        .inspired h1, p {
            margin: 0;
        }
    
    .spectrums {
        text-align: center;
    
        // to make box shadows visible
        .spectrumBoxes, .row {
            padding: 10px 0;
        }
    
        .container {
            padding: 100px 0 100px 0;
        }

        .projectType {
            display: inline-block;
            border: 1px solid rgba(214,214,214,0.5);
            padding: 20px 20px 15px 20px;
            border-radius: 8px;
            box-sizing: border-box;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            overflow: visible; 
            margin: 0 15px;

            img {
                width: 20px;
                display: inline-block;
                margin-right:15px;
            }

            p {
                font-size: 15px;
                display: inline-block;
                font-weight: bold;
                position: relative;
                bottom: 5px;
            }
        }

    }
    
    .partners {
        text-align:center;
        background-color: #F0FCFE;
    }
    
        .partners .container {
            margin-top: 0;
            padding: 100px 0 100px 0;
        }
    
    
        .partners .container h2 {
            margin-top: 0;
        }
    
    .who {
    
    }
    
        .who .container {
            padding: 100px 0 100px 0;
            text-align: right;
        }

    
    
    
}