.homePage {
    .hero h1 {
        font-size: 64px;
        line-height: 113.18%;
        margin: 80px 0;
    }
    
    .wave {
        position: relative;
        top: 10px;
        z-index: -1
    }
    
    .inspired {
        background-color: #F0FCFE;
    }
    
        .inspired .container {
            padding: 100px 0 100px 0;
        }
        .inspired h1, p {
            margin: 0;
        }
    
    .spectrums {
        text-align: center;
    }
    
        .spectrums .container {
            padding: 100px 0 100px 0;
            background-color: white;
        }
    
    .partners {
        text-align:center;
        background-color: #F0FCFE;
    }
    
        .partners .container {
            margin-top: 0;
            padding: 100px 0 100px 0;
        }
    
    
        .partners .container h2 {
            margin-top: 0;
        }
    
    .who {
    
    }
    
        .who .container {
            padding: 100px 0 100px 0;
            text-align: right;
        }
    
    
}