.hero {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2.3fr;
    grid-column-gap: 40px;
    padding: 0 0 300px 0;
}

    .hero h1 {
        font-size: 64px;
        line-height: 113.18%;
    }