.membersHero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.blueBackground {
  background: #D4FAFF;
}

h1 {
  margin: 0 50px;
}

.memberImage {
  width: 150px;
  margin: 10px;
}

#company-logos img {
    object-fit: contain;
    width:10%;
    margin-left:3%;
    margin-right:3%;
    vertical-align:middle;
    /* width: 100px;
    height: 35px; */
    /* margin-right: 38px; */
    margin-bottom: 25px;
}
