.memberProfile {
    display: inline-block;
    position:relative;
    width: 18%;
    margin: 1%;

    .memberImage {
        width: 100%;
    }

    .overlay {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }


    .name {
        position: absolute;
        text-align: center;
        padding-left: 2em;
        padding-right: 2em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;

        h4, p {
            color: white;
        }

        p {
            font-size: 14px;
        }

        .icon {
            width: 15px;
        }
    }
}

.memberProfile:hover {
    .overlay {
        opacity: 1;
    }

    .name {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
}