.memberProfile {
    display: inline-block;
    position:relative;
    height: 18%;
    width: 18%;
    margin: 1%;
    vertical-align: top;

    .memberImage, .memberSillyImage {
        width: 100%;
    }

    .memberSillyImage {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }


    .name {
        text-align: center;
        width: 100%;

        h4, p {
            color: black;
        }

        p {
            font-size: 14px;
            margin-top: 0;
        }

        h4 {
            margin-bottom: 0.5em;
        }

        .icon {
            width: 15px;
        }
    }
}

.memberProfile:hover {
    .memberSillyImage {
        opacity: 1;
    }
}