:root {
    --menu-max-height: 300px;
    --fade-from-color: transparent;
    --fade-to-color: black;
    --timeout: 500ms;
}

.nav {
    margin: 0;
    font-family: 'Open Sans', 'Avenir', sans-serif;
    font-weight: 600;

    font-size: 15px;
    text-align: left;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);

    ul {
        list-style: none;
        margin: 0;
        padding: 15px;
        overflow: hidden;
    }

    li {
        display: inline;
        clear: left;
    }

    .navbar {
        a {
            transition: 0.1s all ease;
        }

        img {
            height: 40px;
        }

        .right {
            float: right;
            position: relative;
            top: 10px;
        }
    }

    .tab, .tab:hover {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        text-decoration: none;
    }
    
    .tab, .tab:hover {
        color: #272727;
    }

    .tab:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .mobileNav {
        display: none;
    }
}


@media (max-width: 1100px) {
    .nav {
        .navbar {
            display: none !important;
            height: 0;
        }
        .mobileNav {
            display: block;
            width: 100vw;
        } 

        .tab, .tab:hover {
            color: #163760;
            text-decoration: none;
            font-weight: 500;
        }

        .burgerIcon {
            width: 30px;
            height: 35px;
            margin-left: auto;
            margin-right: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        

        .mobileList {
            background-color: white;
            z-index: 100;
            width: 100vw;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
            position: absolute;
            left: 0;

            li {
                margin: 15px;
                display: block;
            }
        }

        .display-enter {
            max-height: 0;
        }

        .display-enter-active {
            max-height: var(--menu-max-height);
            transition: all var(--timeout);
        }

        .display-exit {
            max-height: var(--menu-max-height);
        }

        .display-exit-active {
            max-height: 0;
            transition: all var(--timeout);
        }

        .display-exit-done {
            max-height: 0;
            padding: 0;
            margin-top: 0;
        }
    }
}