.projectsPage {
    .projectTypes {
        flex-wrap: wrap;

        .projectType {
            display: flex;
        }
    }

    .projectSpectrumSection {
        img {
            width: 100%;
        }

        .mobileTimeline {
            .grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
            }
        }
    }
}

@media (min-width: 1100px) {
    .projectsPage {
        .projectTypes {    
            margin-top: 3rem;
            .projectType {
                width: 35%;
                margin-right: 5%;
                margin-left: 5%;
                flex-direction: row;
        
                .leftImage {
                    width: 20%;
                    margin-right: 30px;
                    img {
                        width: 100%;
                    }
                }

                .rightProjectDescription {
                    width: 80%;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .projectsPage {
        .projectTypes {  
            text-align: center;
  
            .projectType {
                width: 100%;
                flex-direction: column;
                align-items: center;
        
                .leftImage {
                    width: 30%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}