body {
    margin: 0;
    font-family: 'Lato', 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 100%;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}

h2 {
    font-family: 'Source Serif Pro', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}

h3 {
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #1B67B1;
}

p {
    font-size: 16px;
    color: #000000;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}

section {
    margin: 0 auto;
}

.hero {
    margin: 0 auto;
    padding: 100px 0;

    h1 {
        margin: 10px 0;
    }

    h3 {
        margin: 0;
    }

    .heroImage {
        max-width: 500px;

        img {
            width: 100%;
        }
    }
}

.wave {
    position: relative;
    top: 10px;
    z-index: -1
}

.invertedWave {
    background-color: #F0FCFE;
}

.flex {
    display: flex;
}

.verticallyCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1100px) {
    .hero {
        padding: 100px 0;
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 40px;
    }

    .showOnMobile {
        display: none;
    }

    .container {
       padding-left: 100px;
       padding-right: 100px;
    }
}

@media (max-width: 1100px) {
    .container {
        margin: 0 50px;
    }

    h1 {
        font-size: 2rem;
    }

    .hero {
        padding: 50px 0;
        
        .heroImage {
            padding-top: 30px;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .hideOnMobile {
        display: none;
    }
}